<p id="notice"><%= notice %></p>

<h1>Listing Shareables</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
      <th>Is public</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shareables.each do |shareable| %>
      <tr>
        <td><%= shareable.title %></td>
        <td><%= shareable.link %></td>
        <td><%= shareable.is_public %></td>
        <td><%= link_to 'Show', shareable %></td>
        <td><%= link_to 'Edit', edit_shareable_path(shareable) %></td>
        <td><%= link_to 'Destroy', shareable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shareable', new_shareable_path %>
